<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/noui/nouislider.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css{{ url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <!--===============================================================================================-->
</head>
<body>


<div style="background-image: url('static/images/g.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;backdrop-filter: blur(8px);" class="container-contact100">
    <div  style="opacity:.9;width: 750px "class="wrap-contact100">
    </div>
        <form class="contact100-form validate-form">
        	<span style="position: relative; bottom: 5em;" class="contact100-form-title">
					User Ranking Model
				</span>
        </form>
        <div style="opacity:.7;position: relative; width: 1032px ; height:50px;" class="wrap-input100 validate-input bg1">
        </div>
    <button type="button" class="btn btn-danger float-center" style= "color: pink; width: 1022px;position: relative; bottom: 10.4em;" onClick="location.href='/ranking'" >Get strat</button>

<!--        <div class="wrap-input100 validate-input bg1">-->
<!--            <span class="label-input100">Add Product</span>-->
<!--            <button type="button" class="btn btn-success  float-right" >Add Product</button>-->
<!--        </div>-->

<!--        <div class="wrap-input100 validate-input bg1">-->
<!--            <span class="label-input100">Add Product</span>-->
<!--            <button type="button" class="btn btn-success  float-right" >Add Product</button>-->
<!--        </div>-->

<!--        <div class="wrap-input100 validate-input bg1">-->
<!--            <span class="label-input100">Add Product</span>-->
<!--            <button type="button" class="btn btn-success  float-right" >Add Product</button>-->
<!--        </div>-->






</div>

</body>
</html>
